@use "./tokens";
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.tb-playfield {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas:
    "top"
    "main"
    "bottom";
}

.tb-card {
  display: grid;
  font-family: Caveat Brush;
  font-size: 1.2em;
  grid-area: main;
  grid-template-columns: repeat(5, 1fr);
  margin: auto 2em;
  max-width: 32rem;
  outline: 2px solid tokens.$steel-blue;
  place-content: center;
}

.tb-star {
  height: auto;
  width: 100%;
}

.tb-star__glyph {
  fill: #ffb800;
}

.tb-playfield__message {
  grid-area: top;
}

.tb-playfield__confetti {
  bottom: 0;
  display: grid;
  filter: drop-shadow(0 48px 2px #0001);
  grid-area: top;
  left: 0;
  overflow: hidden;
  place-items: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -30em;
}
