@use "./tokens";

.tb-square {
  --padding: 0.25em;
  display: grid;
  grid-template-areas: "main";
  outline: 1px solid tokens.$steel-blue;
  overflow: hidden;
  place-items: center;
  user-select: none;

  &:before {
    content: "";
    display: block;
    grid-area: main;
    padding-top: calc(100%);
  }

  > .tb-square__text {
    grid-area: main;
    padding: var(--padding);
  }

  &--is-highlighted {
    background-color: tokens.$light-red;
  }
}
